<table class="table">
    <thead>
        <tr>
            <th>Libelle</th>
            {% for annee in items|first|keys %}
            <th colspan="2">{{annee}}</th>
            {% endfor %}
            <th>Type</th>
        </tr>
        <tr>
            <th>Libelle</th>
            {% for annee in items|first|keys %}
            <th>depense</th>
            <th>recette</th>
            {% endfor %}
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
    {% for libelle, item in items %}
        <tr>
            <td>{{ libelle }}</td>
            {% for operation in item %}
            <td>{{ operation.depense }}</td>
            <td>{{ operation.recette }}</td>
            {% endfor %}
        </tr>
    {% else %}
        <tr>
            <td colspan="9">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
