<h1>Bienvenue sur CASC</h1>
<h3>Chers Collègues </h3>
<h5>
Il est d’ores et déjà temps de penser à vos prochaines vacances.
Vous allez découvrir à travers ce Cascade Spécial Vacances de nouvelles destinations qui,
nous l’espérons de tout coeur, vous transporteront, vous feront rêver et voyager.
Afin de bénéficier des offres Vacances, faites calculer votre quotient familial chaque année
auprès du CASC. Cela déterminera le montant de la subvention qui vous sera attribuée.
</h5>