
<!-- Nav -->
    <nav id="nav">
        <ul>
            <tr>
        {% for menu in menus %}
            <li><a href="{{ path(menu.lien) }}">{{ menu.libelle|capitalize }}</a></li>
        {% else %}
            </tr>
        {% endfor %}
        </ul>
    </nav>
