{% extends 'base.html.twig' %}

{% block title %}New OperationData{% endblock %}

{% block body %}
    <h1>Create new OperationData</h1>

    {{ include('admin_operation_data/_form.html.twig') }}

    <a href="{{ path('admin_operation_data_index') }}">back to list</a>
{% endblock %}
